{% extends "base.html" %}

{% block page_title %}WangSheng's Resume{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume/resume.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
{% endblock %}
{% block content %}
<div style="margin: 0px 0px 20px 0px; float: left; width: 100%;">
    <div class="left">
        <div class="head_portrait">
            <div class="picture"></div>
            <div class="name">
                <h2 style="color: #5da4d9">Wang Sheng</h2>
            </div>
        </div>
        <div class="self_introduction">
            <div class="si_left">
                <i class="fa fa-user i-custom-icon"></i>
            </div>
            <div class="si_right i-custom-right">
                <p>{{ page.meta.self_introduction }}</p>
            </div>
        </div>
        <div class="phone_number">
            <div class="pn_left">
                <i class="fa fa-comment i-custom-icon"></i>
            </div>
            <div class="pn_right i-custom-right">
                <h4>
                    <a href="https://weibo.com/iiws" target="_blank" style="color: white">王乐新丶</a>
                </h4>
                <span>微博</span>

                <h4>185-6626-7135</h4>
                <span>手机号码</span>

                <h4><a href="https://github.com/hsqs" target="_blank" style="color: white">github.com/hsqs</a></h4>
                <span>Github</span>
            </div>
        </div>
        <div class="email">
            <div class="email_left">
                <i class="fa fa-envelope i-custom-icon"></i>
            </div>
            <div class="email_right i-custom-right">
                <h4>aquwang@163.com</h4>
                <span>个人邮箱</span>
            </div>
        </div>
        <div class="address">
            <div class="address_left">
                <i class="fa fa-home i-custom-icon"></i>
            </div>
            <div class="address_right i-custom-right">
                <h4>深圳市 龙岗区</h4>
                <h4>坂田街道</h4>
                <h4>马蹄山新村 1 巷</h4>
            </div>
        </div>
        <div class="skills">
            <div class="skills_left">
                <i class="fa fa-calendar-o i-custom-icon"></i>
            </div>
            <div class="skills_right i-custom-right">
                <h4>个人技能</h4>
                <h7>Java</h7>
                <div class="skill_progress">
                    <div class="determinate" style="width: 80%;">
                        <i class="fa fa-circle skill_circle"></i>
                    </div>
                </div>
                <h7>Mybatis</h7>
                <div class="skill_progress">
                    <div class="determinate" style="width: 80%;">
                        <i class="fa fa-circle skill_circle"></i>
                    </div>
                </div>
                <h7>Python</h7>
                <div class="skill_progress">
                    <div class="determinate" style="width: 70%;">
                        <i class="fa fa-circle skill_circle"></i>
                    </div>
                </div>
                <h7>Javascript</h7>
                <div class="skill_progress">
                    <div class="determinate" style="width: 60%;">
                        <i class="fa fa-circle skill_circle"></i>
                    </div>
                </div>
                <h7>MySQL</h7>
                <div class="skill_progress">
                    <div class="determinate" style="width: 50%;">
                        <i class="fa fa-circle skill_circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="work_experience">
            <div class="work_experience_left">
                <i class="fa fa-briefcase i-custom-right-icon"></i>
            </div>
            <div class="work_experience_right i-custom-right-body">
                <h2>工作经验</h2>
                <div class="work_experience_container">
                    <h3>软件工程师 <span>@华为</span></h3>
                    <span class="period_color">2014.8 - now</span>
                    <p>我在华为干了什么呢,我在华为干了什么呢,我在华为干了什么呢,我在华为干了什么呢,我在华为干了什么呢,我在华为干了什么呢,我在华为干了什么呢</p>
                </div>
            </div>
        </div>
        <div class="education">
            <div class="education_left">
                <i class="fa fa-graduation-cap i-custom-right-icon"></i>
            </div>
            <div class="education_right i-custom-right-body">
                <h2>教育经历</h2>
                <div class="education_container">
                    <h3>学士 <span>@西南交通大学, 通信工程</span></h3>
                    <span class="period_color">2010.9 - 2014.6</span>
                    <p>我在华为干了什么呢,我在华为干了什么呢,我在华为干了什么呢,我在华为干了什么呢,我在华为干了什么呢,我在华为干了什么呢,我在华为干了什么呢</p>
                </div>
            </div>
        </div>
        <div class="language">
            <div class="language_left">
                <i class="fa fa-language i-custom-right-icon"></i>
            </div>
            <div class="language_right i-custom-right-body">
                <h2>外语能力</h2>
                <div class="language_container">
                    <h3>英语 <span>CET 6</span></h3>
                    <span class="period_color">获证书时间 : 2011.9</span>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
{% block jsscript %}
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/resume/resume.js') }}"></script>
{% endblock %}
