{% extends "base.html" %}

{% block page_title %}WangSheng's Resume{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume/resume.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
{% endblock %}
{% block content %}
<div style="margin: 0px 0px 20px 0px; float: left; width: 100%;">
    <div class="left">
        <div class="head_portrait">
            <div class="picture"></div>
            <div class="name">
                <h2>Wang Sheng</h2>
            </div>
        </div>
        <div class="self_introduction">
            <div class="si_left">
                <i class="fa fa-user i-custom-icon"></i>
            </div>
            <div class="si_right i-custom-right">
                <p>self introduction</p>
            </div>
        </div>
        <div class="phone_number">
            <div class="pn_left">
                <i class="fa fa-phone i-custom-icon"></i>
            </div>
            <div class="pn_right i-custom-right">
                <p>phone number</p>
            </div>
        </div>
        <div class="email">
            <div class="email_left">
                <i class="fa fa-envelope i-custom-icon"></i>
            </div>
            <div class="email_right i-custom-right">
                <p>email</p>
            </div>
        </div>
        <div class="address">
            <div class="address_left">
                <i class="fa fa-home i-custom-icon"></i>
            </div>
            <div class="address_right i-custom-right">
                <p>address</p>
            </div>
        </div>
        <div class="skills">
            <div class="skills_left">
                <i class="fa fa-calendar-o i-custom-icon"></i>
            </div>
            <div class="skills_right i-custom-right">
                <p>skills</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="work_experience">
            <div class="work_experience_left">
                <i class="fa fa-briefcase i-custom-right-icon"></i>
            </div>
            <div class="work_experience_right i-custom-right-body">
                <p>work experience</p>
            </div>
        </div>
        <div class="education">
            <div class="education_left">
                <i class="fa fa-graduation-cap i-custom-right-icon"></i>
            </div>
            <div class="education_right i-custom-right-body">
                <p>education</p>
            </div>
        </div>
    </div>
</div>




{% endblock %}
{% block jsscript %}
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/resume/resume.js') }}"></script>
{% endblock %}
