
.left{
    width: 30%;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    box-shadow: 0 0 8px #ddd;
}

.right{
    width: 55%;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    color:#767270;
}

.i-custom-icon{
    width: 100%;
    text-align: center;
    font-size: 22px !important;
    color: white;
    margin-top: 20px;
}

.i-custom-right{
    width: 70%;
    float: right;
    height: 100%;
    padding-top: 5px;
    border-bottom: 1px solid #4783c2;
}

.left span{
    opacity: 0.6;
    font-weight: 300;
}

.head_portrait{
    width: 100%;
    height: 300px;
    background-color: #eee;
    position: relative;
}

.head_portrait .picture{
    height: 100%;
    background-image: url('../../pic/head-portrait.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.head_portrait .name{
    font-size: 22px;
    font-weight: bold;
    color: black;
    position: absolute;
    right: 80px;
    bottom: 0px;
}

.self_introduction{
    height: 190px;
    background-color: #5da4d9;
}

.self_introduction .si_left{
    height: 100%;
    width: 30%;
    float: left;
}

.si_right p{
    color: white;
    padding-right: 30px;
    font-size: 10pt;
    margin-top: 15px;
}

.phone_number{
    height: 200px;
    background-color: #5da4d9;
}

.phone_number .pn_left{
    height: 100%;
    width: 30%;
    float: left;
}

.phone_number .pn_right{
    color: white;
}

.phone_number .pn_right h4{
    margin-bottom: 3px;
    margin-top: 17px;
}

.email{
    height: 80px;
    background-color: #5da4d9;
}

.email .email_left{
    height: 100%;
    width: 30%;
    float: left;
}

.email .email_right{
    color: white;
    margin-top: 2px;
}

.address{
    height: 115px;
    background-color: #5da4d9;
}

.address .address_left{
    height: 100%;
    width: 30%;
    float: left;
}

.address .address_right{
    color: white;
    margin-top: 5px;
}

.skills{
    height: 300px;
    background-color: #5da4d9;
}

.skills .skills_left{
    width: 30%;
    height: 100%;
    float: left;
}

.skills .skills_right{
    border-bottom: 0px;
    color: white;
}

.skills .skill_progress{
    width: 90%;
    margin-top: 5px;
    position: relative;
    height: 2px;
    background-color: #4783c2;
    margin-bottom: 20px;
}

.skills .determinate{
    position: absolute;
    background-color: #fff;
    height: 100%;
}

.skills .skill_circle{
    color: white;
    position: absolute;
    top: -6px;
    right: 0px;
}




.i-custom-right-icon{
    width: 100%;
    text-align: center;
    font-size: 32px !important;
    color: gray;
    margin-top: 25px;
}

.i-custom-right-body{
    width: 80%;
    float: right;
    height: 100%;
}

.work_experience{
    height: 400px;
    box-shadow: 0 0 8px #ddd;
}

.work_experience .work_experience_left{
    width: 20%;
    height: 100%;
    float: left;
}

.work_experience h3, .education h3, .language h3{
    font-size: 20px;
}

.work_experience span, .education span, .language span{
    font-size: 14px;
}

.work_experience p, .education p, .language p{
    padding-right: 40px;
    margin-bottom: 25px;
    margin-top: 5px;
    line-height: 17pt;
}

.work_experience .period_color, .education .period_color, .language .period_color   {
    color: #5da4d9;
    line-height: 15pt;
    font-weight: 400;
    margin-bottom:
}

.education, .language{
    height: 200px;
    box-shadow: 0 0 8px #ddd;
    margin-top: 30px;
}

.education .education_left, .language .language_left{
    width: 20%;
    height: 100%;
    float: left;
}

.language {
    height: 150px;
}