/* Layout */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding: 0px 100px;
    background-color: #0099CC;
}

body {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 300;
}

nav ul, nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

nav ul li a:hover {
    text-decoration: none;
}

.container ul li{
    list-style-type: none;
}

.container {
    padding-left: 41px;
    position: relative;
    top: 61px;
}

a.selected {
    color: #333300;
    font-weight: bold;
}

/* 博客页,博客列表样式 */
.page-list li a {
    font-size: 20px;
}