/*@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);*/
body {
  font-family:Georgia, "Times New Roman", Times, serif;
  background-color: #cfcfcf;
  /*background: url("../resource/doge.jpg") no-repeat top center;*/
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed; 
}

.navbar {
  border-radius: 0px;
  border: 0px transparent;
  background-color: #3682c3;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
}

.hsqs-content .index-body {
  font-size: 32px;
  color: #000;
  margin: 50px 175px;
}

.hsqs-content li {
  list-style-type: none;
}

.hsqs-content p , h2 {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 175px;
  margin-right: 175px;
  text-indent: 34px;
}

.hsqs-content p {
  font-size: 17px;
}

.hsqs-content .blog {
  text-decoration: none;
  margin: 50px 175px;
  font-size: 18px;
}

code {
  color: #000 ;
}

.hsqs-content .date {
  margin-left: 20px;
  font-size: 17px;
}

.hsqs-content .body-about {
  margin: 20px 175px;
  font-size: 18px;
}


.footer {
  padding: 10px 0 5px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0px solid #e5e5e5;
}